<header>
    <nav>
        <ul>
            <a href="/">
                <li>Main</li>
            </a>
            <a href="/users">
                <li>Users</li>
            </a>
        </ul>
    </nav>
</header>